# Email Shield technical telemetry is disabled by default.
EMAIL_SHIELD_TELEMETRY=0
EMAIL_SHIELD_POSTHOG_PROJECT_TOKEN=
EMAIL_SHIELD_POSTHOG_HOST=https://us.i.posthog.com
EMAIL_SHIELD_RELEASE_VERSION=0.2.0
